<div class="row">
    <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Trang chủ quản trị </li>
        <li class=""> > Articles</li>
        <li class=""> > Chapter</li>
    </ol>
</div>

<div class="row page-header">
    <div class="col-sm-12">
        <h1><%= sess.articles[index].ar_name%>  - Chapters</h1> 
        <a href="/admin/add_chapter/<%= sess.articles[index].ar_ID%>"><button class="btn btn-success btn-md">Thêm chapter</button></a>
    </div>
</div><!--/.row-->

<div class="row user">
    <table class="table table-striped table-bordered user__table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Số trang</th>
            <th scope="col">Ngày update</th>
            <th scope="col">Sửa tên</th>
            <th scope="col">Xóa chapter</th>
          </tr>
        </thead>
        <tbody>
            <%for(let i = pagination.start; i < pagination.end; i++){%>
                <tr>
                    <th scope="row"><%= sess.chapters[index][i].chap_ID%></th>
                    <td><%= sess.chapters[index][i].chap_name%></td>
                    <td><%= sess.chapters[index][i].chap_page%></td>
                    <td><%= sess.chapters[index][i].chap_date%></td>
                    <td><button class="btn btn-success btn-sm" onclick="window.location.replace('/admin/edit_chapter/<%= sess.chapters[index][i].ar_ID%>/<%= sess.chapters[index][i].chap_ID%>')"><i class="fas fa-pen"></i></button></td>
                    <td><button class="btn btn-danger btn-sm" onclick="confirmDelete('<%= sess.chapters[index][i].chap_ID%>', '<%= index%>')"><i class="fas fa-times"></i></button></td>
                </tr>
            <%}%>
            
        </tbody>
      </table>
      <div class="pagination">
        <a href="/admin/articles/chapters?id=<%= sess.articles[index].ar_ID%>&page=0">First</a>
        <a href="/admin/articles/chapters?id=<%= sess.articles[index].ar_ID%>&page=<%= pagination.previous%>">&laquo;</a>
        <% for(let i = (pagination.current - 3 > 0)?pagination.current - 3: 0; i < pagination.lastItem; i++) {%>
            <%if(pagination.current === i){%>
                <a href="/admin/articles/chapters?id=<%= sess.articles[index].ar_ID%>&page=<%= i%>" class="active"><%= i + 1%></a>
            <%} else {%>
                <a href="/admin/articles/chapters?id=<%= sess.articles[index].ar_ID%>&page=<%= i%>"><%= i + 1%></a>
            <%}%>
        <%}%>
        <a href="/admin/articles/chapters?id=<%= sess.articles[index].ar_ID%>&page=<%= pagination.next%>">&raquo;</a>
        <a href="/admin/articles/chapters?id=<%= sess.articles[index].ar_ID%>&page=<%= pagination.lastPage - 1%>">Last</a>
    </div>
      
</div><!--/.row-->
<script>
    function confirmDelete(id, index){
        const rs = confirm('Bạn có muốn xóa chapter này?');
        if(rs){
            window.location.replace(`/admin/delete_chapter?id=${id}&index=${index}`);
        }else{
            return;
        }
    }
</script>