<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <%include head%>
    </head>
    <body>
        <!-- NAV  -->
        <%include navigation%>
        
        <!-- CHAPTER  -->
        <div class="container-fluid chapter__wrapper">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="chapter">
                            <div class="chapter__pagination">
                                <a href="#"><i class="fas fa-arrow-left"></i> </a>
                                <select onchange="changeChapter(<%= sess.articles[index].ar_ID%>)" id="chapter_select">
                                    <%for(let i = 0; i < sess.chapters[index].length; i++){%>
                                        <% if(chap_ID == sess.chapters[index][i].chap_ID){%>
                                            <option value="<%= sess.chapters[index][i].chap_ID%>" selected><%= sess.chapters[index][i].chap_name%></option>
                                        <%}else{%>
                                            <option value="<%= sess.chapters[index][i].chap_ID%>"><%= sess.chapters[index][i].chap_name%></option>
                                        <%}%>
                                    <%}%>
                                </select>
                                <a href="#"><i class="fas fa-arrow-right"></i></a>
                            </div>

                            <div class="chapter__page">
                                <% for(let i = 0; i < chapter[0].chap_page; i++){%>
                                    <img src="/images/chapter/<%= sess.articles[index].ar_ID%>/<%= chap_ID%>/<%= i%>.jpg" alt="">
                                <%}%>
                            </div>
                            
                            
                            <div class="chapter__pagination">
                                <a href="#"><i class="fas fa-arrow-left"></i> </a>
                                <select onchange="changeChapter(<%= sess.articles[index].ar_ID%>)" id="chapter_select">
                                    <%for(let i = 0; i < sess.chapters[index].length; i++){%>
                                        <% if(chap_ID == sess.chapters[index][i].chap_ID){%>
                                            <option value="<%= sess.chapters[index][i].chap_ID%>" selected><%= sess.chapters[index][i].chap_name%></option>
                                        <%}else{%>
                                            <option value="<%= sess.chapters[index][i].chap_ID%>"><%= sess.chapters[index][i].chap_name%></option>
                                        <%}%>
                                    <%}%>
                                </select>
                                <a href="#"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid cmt_footer__wrapper">
            <!-- COMMENT  -->
            <% include comment_section%>

            <!-- FOOTER  -->
            <%include footer%>
        </div>
        
        
        
        <%include main_js%>
    </body>
</html>